@use 'variable' as V;
@use 'globales' as G;


// Media Querys

@mixin telefono {
   @media (min-width: V.$telefono) {
      @content;
   }
}

@mixin tablet {
   @media (min-width: V.$tablet) {
      @content;
   }
}

@mixin laptop {
   @media (min-width: V.$laptop) {
      @content;
   }
}

@mixin desktop {
   @media (min-width: V.$desktop) {
      @content;
   }
}

// Display GRID

@mixin grid($colum, $space) {
   display: grid;
   grid-template-columns: repeat($colum, 1fr);
   grid-template-rows: auto;
   gap: $space;
}

// Display FLEX-COLUM

@mixin Center__X {
   display: flex;
   flex-direction: column;
   align-items: center;
}

// REUTILIZABLES

@mixin margin-1rem {
   margin: 2.5rem;
}

@mixin center {
   text-align: center;
}

@mixin white__center {
   color: V.$blanco;
   text-align: center;
}

@mixin black__center {
   color: V.$negro;
   text-align: center;
}

@mixin margin__botom {
   margin-bottom: 2.5rem;
}

@mixin bg__color($color) {
   background-color: $color;
   border-radius: .5rem;
}

@mixin icono($tamaño) {
   height: $tamaño;
   width: auto;
}

// @mixin heading($color: black) {
//    font-size: 2.4rem;
//    text-align: justify;
//    color: $color;
// }

// El mixin se compone de @mixin *Nombre del mixin* (Parametro a cambiar : Caso de no haber un parametro) {}