@use 'variable' as V;
@use 'globales' as G;

@mixin telefono {
   @media (min-width: V.$telefono) {
      @content;
   }
}

@mixin tablet {
   @media (min-width: V.$tablet) {
      @content;
   }
}

@mixin laptop {
   @media (min-width: V.$laptop) {
      @content;
   }
}

@mixin desktop {
   @media (min-width: V.$desktop) {
      @content;
   }
}

@mixin grid($colum, $space) {
   display: grid;
   grid-template-columns: repeat($colum, 1fr);
   gap: $space;
}

@mixin margin-1rem {
   margin: 2.5rem;
}

@mixin center {
   text-align: center;
}

// @mixin heading($color: black) {
//    font-size: 2.4rem;
//    text-align: justify;
//    color: $color;
// }

// El mixin se compone de @mixin *Nombre del mixin* (Parametro a cambiar : Caso de no haber un parametro) {}