@use '../base/variable' as V;
@use '../base/mixins' as M;

.galeria {
    padding: 2.5rem 0;

    .galeria__titulo {
        // Estilos del titulo
        font-size: 2.4rem;
        font-weight: 700;
        @include M.black__center;
        @include M.margin__botom;
    }
}

.galeria__imagenes {
    // Quitarle los estilos predeterminados a la lista.
    list-style: none;
    margin: 0;
    padding: 0;

    // Columnas en la Vista de Celular
    @include M.grid(2, 1rem);

    // Columnas en la Vista de Tablet
    @include M.tablet {
        @include M.grid(3, 1rem);
    }

    // Columnas en la Vista de Laptop
    @include M.laptop {
        @include M.grid(4, 1rem);
    }
}

// Estilo de la imagen en la Galeria
img {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}

.overlay {
    // Posición estatica del Overlay en el sitio web.
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // Tamaño del Overlay en Relación de la pantalla.
    width: 100%;
    height: 100%;
    // Posicionamiento del Overlay.
    display: grid;
    place-items: center;
    background-color: rgb(0 0 0 / .5);

    // Estilo de la imagen dentro del Overlay
    picture {
        display: block;
        max-width: 75rem;
        height: auto;
    }
}

.boton__cerrar {
    // Estilos del boton.
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: V.$blanco;
    color: V.$negro;
    display: grid;
    place-items: center;
    font-weight: 700;

    &:hover {
        cursor: pointer;
    }
}