@use '../base/variable' as V;
@use '../base/mixins' as M;

.galeria {
    padding: 2.5rem 0;

    .galeria__titulo {
        font-size: 2.4rem;
        font-weight: 700;
        @include M.black__center;
        @include M.margin__botom;
    }
}

.galeria__imagenes {
    list-style: none;
    margin: 0;
    padding: 0;

    @include M.grid(2, 1rem);

    @include M.tablet {
        @include M.grid(3, 1rem);
    }

    @include M.laptop {
        @include M.grid(4, 1rem);
    }
}

// Estilo de la imagen en la Galeria
img {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}

.overlay {
    // Posición estatica del Overlay en el sitio web.
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // Tamaño del Overlay en Relación de la pantalla.
    width: 100%;
    height: 100%;
    // Posicionamiento del Overlay.
    display: grid;
    place-items: center;
    background-color: rgb(0 0 0 / .5);

    // Estilo de la imagen dentro del Overlay
    picture {
        display: block;
        width: 50%;
        height: auto;
    }
}