@use '../base/variable' as V;
@use '../base/mixins' as M;

.encabezado {
    background-color: V.$verde;

    .encabezado__titulo {
        color: V.$blanco;
    }
}

.barranav {
    .barranav__enlace {
        color: V.$blanco;
        font-size: 2.4rem;

        &:hover {
            color: V.$amarillo;
        }
    }
}

.prueba{
    @include M.heading;
}