@use '../base/variable' as V;
@use '../base/mixins' as M;

.encabezado {
    background-color: V.$verde;

    .encabezado__titulo {
        color: V.$blanco;
    }
}

.barranav {
    @include M.telefono {
        background-color: yellow;
    }

    @include M.tablet {
        background-color: green;
    }

    @include M.laptop {
        background-color: blue;
    }

    @include M.desktop {
        background-color: red;
    }

    .barranav__enlace {
        color: V.$blanco;
        font-size: 2.4rem;

        &:hover {
            color: V.$amarillo;
        }
    }
}

//  .prueba {
//      @include M.heading(V.$rosa);
//  }

// Esta es la forma de llamar a un mixin inteligente.