@use '../base/variable' as V;
@use '../base/mixins' as M;

.lineup__bg {
    background-color: V.$rosa;
}

.lineup {
    width: 95%;

    @include M.tablet {
        width: min(75%, 90rem);
    }

    margin: 0 auto;
    padding: 5rem 0;

    .lineup__titulo {
        font-size: 2.4rem;
        font-weight: 700;
        @include M.white__center;
        @include M.margin__botom;
    }

    .lineup__fecha {
        font-size: 1.8rem;
        font-weight: 400;
        @include M.white__center;
        @include M.margin__botom;
    }
}

.lineup__apartados {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @include M.tablet {
        @include M.grid(2, 2.5rem);
    }
}

.lineup__rock {
    background-color: V.$amarillo;
    border-radius: .5rem;
    padding: 2.5rem;

    .rock__titulo {
        font-size: 1.8rem;
        @include M.black__center;
    }
}

.lineup__edm {
    background-color: V.$verde;
    border-radius: .5rem;
    padding: 2.5rem;

    .edm__titulo {
        font-size: 1.8rem;
        @include M.black__center;
    }
}