@use '../base/variable' as V;
@use '../base/mixins' as M;

// COLOR DE FONDO BLOQUE PRINCIPAL (PADRE)
.lineup__bg {
    background-color: V.$rosa;
}

// DISPOSICION DEL BLOQUE PRINCIPAL (PADRE)
.lineup {
    width: 95%;

    @include M.tablet {
        width: min(85%, 100rem);
    }

    margin: 0 auto;
    padding: 2.5rem 0;

    .lineup__titulo {
        font-size: 2.4rem;
        font-weight: 700;
        @include M.white__center;
        @include M.margin__botom;
    }

    .lineup__fecha {
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        @include M.white__center;
    }
}

// DISPOSICION DE LOS BLOQUES SECUNDARIOS (HIJOS)
.lineup__bloque {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @include M.tablet {
        @include M.grid(2, 2.5rem);

        .lineup__fecha--1 {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }

        .bloque__amarillo--1 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .bloque__verde--1 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .lineup__fecha--2 {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }

        .bloque__amarillo--2 {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
        }

        .bloque__verde--3 {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
    }
}

// COLOR DE FONDO DE LOS BLOQUES SECUNDARIOS (HIJOS)
.bloque__amarillo {
    @include M.bg__color(V.$amarillo);
    padding-top: 2.5rem;

    .calendario__fecha:nth-child(odd) {
        background-color: darken(V.$amarillo, 10%);
    }
}

.bloque__verde {
    @include M.bg__color(V.$verde);
    padding-top: 2.5rem;

    .calendario__fecha:nth-child(odd) {
        background-color: darken(V.$verde, 5%);
    }
}

// DISPOCISION DEL CONTENIDO
.bloque__titulo {
    @include M.black__center;
}

.bloque__picture {
    @include M.Center__X;

    .bloque__icono {
        @include M.icono(8rem);

    }
}

// DISPOSICION DEL CALENDARIO
.calendario {
    list-style: none;
    padding: 0;

    .calendario__fecha {
        font-weight: 700;
        padding: 2.5rem;
    }

    .calendaio__lugar {
        font-weight: 400;
    }
}