@use '../base/variable' as V;
@use '../base/mixins' as M;

.lineup__bg {
    background-color: V.$rosa;
}

.lineup {
    width: 95%;

    @include M.tablet {
        width: min(85%, 100rem);
    }

    margin: 0 auto;
    padding: 5rem 0;

    .lineup__titulo {
        font-size: 2.4rem;
        font-weight: 700;
        @include M.white__center;
        @include M.margin__botom;
    }

    .lineup__fecha {
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: uppercase;
        @include M.white__center;
        @include M.margin__botom;
    }

    .lineup__fecha--{
        margin-top: 2.5rem;
    }
}

.lineup__bloque {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @include M.tablet {
        @include M.grid(2, 2.5rem);
    }

    .bloque__rock {
        @include M.bg__color(V.$amarillo);
    }

    .bloque__edm {
        @include M.bg__color(V.$verde);
    }
}

.bloque__titulo {
    @include M.black__center;
}

.bloque__picture {
    @include M.Center__X;

    .bloque__icono {
        @include M.icono(8rem);

    }
}

.calendario {
    list-style: none;
    padding: 0;

    .calendario__fecha {
        font-weight: 700;
        margin-top: 5rem;
    }
}